@media screen and (max-width: 979px) {
  .md-visible {
    opacity: 1;
    visibility: visible;
    position: static;
  }
  .footer-top {
    flex-wrap: wrap;
    padding-right: 140px;
  }
  .footer__pay {
    width: 100%;
    margin: 0;
    padding-top: 40px;
  }
  .footer__pay_items {
    margin: 0;
    width: 100%;
  }
  .up {
    top: 30px;
    z-index: 95;
    background: rgba(255, 255, 255, .5);
    border-color: transparent;
  }
  .section {
    padding: 100px 0;
  }
  .section__title {
    text-align: center;
  }
  .blog__item {
    width: 50%;
  }
  .blog__item:nth-child(n+3) {
    display: none;
  }
  .banner__title {
    font-size: 64px;
    max-width: 530px;
    padding: 0 15px;
  }
  .solutions {
    margin: 0 -60px 0 -40px;
    max-width: 1000px;
  }
  .solution-shape1 {
    left: -40px;
  }
  .solution-shape2 {
    right: -100px;
    top: -150px;
    width: 500px;
  }
  .main__flex {
    flex-wrap: wrap;
  }
  .sidebar {
    width: 100%;
    margin: 0 0 5px;
  }
  .sidebar-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border-bottom: none;
    border-right: none;
  }
  .sidebar-menu__link {
    height: 58px;
    width: 25%;
    text-align: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  .sidebar-menu__link:hover, .sidebar-menu__link--active {
    margin: 0;
    padding: 0;
  }
  .sidebar-menu__link:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  .sidebar-menu__link span {
    margin-left: 20px;
  }
  .sidebar-menu__link--active span {
    transform: rotate(45deg);
    position: relative;
    top: -3px;
  }

  .filter {
    position: absolute;
    top: -10px;
    left: 0;
    width: 290px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.37);
    z-index: 90;
    opacity: 0;
    visibility: hidden;
    transition: .1s ease-in-out;
  }
  .filter.active {
    opacity: 1;
    visibility: visible;
  }
  .filter-mobile {
    position: relative;
  }
  .filter-btn {
    background: url(../images/icons.svg#filter) no-repeat 16px 12px, #F9F9F9;
    background-size: 17px 17px;
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    padding-left: 25px;
    z-index: 91;
    position: relative;
  }
  .filter-btn.active {
    background-image: url(../images/icons.svg#close);
    background-position: 16px 11px;
    background-size: 20px 20px;
  }
  .item {
    height: auto;
  }
  .item-bottom {
    opacity: 1;
    visibility: visible;
    position: relative;
  }













}